{% extends 'base.html' %}

{% block head %}
<title>Completed Request History</title>
{% endblock %}

{% block body %}
<div class="dashboard">
    <h1>Completed Requests</h1>
    <div class="header-options">
        <a href="{{ url_for('dashboard_cv') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
</div>
<div>
    <table class="my-table">
        <tr>
            <th>Request ID</th>
            <th>Requested By</th>
            <th>Title</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
        
        <tr>
            <td>03</td>
            <td>Nicole West</td>
            <td>
                <a href="{{ url_for('logout') }}" class="pin-title">Title</a>
            </td>
            <td>Completed</td>
            <td>View</td>
        </tr>
        
    </table>
</div>
{% endblock %}