{% extends 'base.html' %}

{% block head %}
<title>Completed Request History</title>
{% endblock %}

{% block body %}
<div class="dashboard">
    <h1>Completed Requests</h1>
    <div class="header-options">
        <a href="{{ url_for('dashboard_cv') }}">Dashboard</a>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>
</div>
<div>
    {% if requests %}
    <table class="my-table">
        <tr>
            <th>Request ID</th>
            <th>Title</th>
            <th>Name</th>
            <th>Location</th>
            <th>Status</th>
            <th>Description</th>
            <th>View Details</th>
        </tr>

        {% for req in requests %}
        <tr>
            <td>{{ req.request_id }}</td>
            <td>{{ req.title }}</td>
            <td>{{ req.pin_name }}</td>
            <td>{{ req.location }}</td>
            <td>
                <span class="status-badge {{ req.status|lower }}">
                    {{ req.status }}
                </span>
            </td>
            <td>{{ req.description }}</td>
            <td>
            <a href="{{ url_for('logout', request_id=req.request_id) }}" class="view-btn">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No active or pending requests assigned to you.</p>
    {% endif %}
</div>
{% endblock %}