{% extends 'base.html' %}

{% block head %}
<title>CSR Register Info</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>CSR Rep Registration Info</h1>
</div>
<div class="register-box">
    <h2 class="register-text">Enter you details</h2>
    <form action="/register_info_csrrep" method="POST">
        <div>
            <label for="fullname"><b>Fullname:</b></label>  
        </div>
        <div>
            <input type="text" name="fullname" id="fullname"> 
        </div>
        <div>
            <label for="email"><b>Email:</b></label>
        </div>
        <div>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="company"><b>Organization:</b></label>
        </div>
        <div>
            <input type="text" name="org" id="org">
        </div>
        
        <button type="submit">Register</button> 
    </form>
</div>
{% endblock %}